@charset "UTF-8";

body {
    font-size: 100%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
    color: #432;
}
a:hover {
    color: #0bd;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}

#home_background {
    background-image: url(../images/main-bg.jpg), linear-gradient(#c9ffbf, #ffafbd);
    background-blend-mode: luminosity;
    background-size: cover;
    min-height: 100vh;
}
.header_background {
    background-image: url(../images/news-bg.jpg);
    background-size: cover;
    height: 260px;
}

.logo {
    width: 210px;
}
.header_nav {
    display: flex;
    font-size: 1.15rem;
    margin-top: 14px;
}
.header_nav li {
    margin-left: 36px;
}
.page_header {
    display: flex;
    justify-content: space-between;
    margin: 14px auto 0;
    padding: 0 4%;
}
h1 {
    text-align: center;
    font-family: "Philosopher", serif;
    font-weight: lighter;
    font-size: 5rem;
}
#home_logo {
    font-size: 1rem;
}

.home_main {
    text-align: center;
    margin-top: 10%;
}
.home_main h2 {
    font-family: "Philosopher", serif;
    font-weight: lighter;
    font-size: 5rem;
}
.home_main p {
    font-size: 1.025rem;
    margin: 10px 0 42px;
}
.home_main a {
    font-size: 1.05rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: 16px 36px;
}
.home_main a:hover {
    background-color: #0090aa;
}